{% extends 'master.html.twig' %}

{% block title %}
    {% include "utilities/page-title.html.twig" with { 'pageTitle': pageTitle } %}
{% endblock %}

{% block logo_img %}
    {% include 'partials/shared/logo-box-@header.html.twig' %}
{% endblock %}

{% block top_header_right %}
    {% include 'partials/shared/logout-box-@header.html.twig' %}
{% endblock %}

{% block top_css_block %}
    <link rel="stylesheet" href="{{ asset('js/lib/datepicker/css/datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/melanie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/melanie-calendar-2.css') }}">
    
    <script src="{{ asset('tinymce/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/TinyMceInit.js') }}"></script>
{% endblock %}


{% block full_width_content %}
    <section id="pz-main-wrapper" class="pz-main-wrapper no-lr-pad containR">
        {% include'partials/shared/scroll-to-top.html.twig' %}
        <section>
            <section >
                <div class="pz-time-tracker-wrapper col-md-12 no-lr-pad">
                    <div class="col-md-12 no-lr-pad pz-form-wrapper" id="pz-form-wrapper">
                        <section class="pz-form-centered">
                            <div class="col-md-12 no-lr-pad pz-view-title"></div>
                            <div style="clear: both;"></div>
                            
                            <div class="col-md-12 no-lr-pad pz-wrapper-main" id="pz-wrapper-main">
                                {% include '/admin/partials/navigation.html.twig' with {'navPayload': navPayload}  %}
                                
                                {% include'partials/flash-message.render.html.twig' %}
                                
                                {% include '/admin/partials/calendar-form.html.twig' with  {"branchOptions": branchOptions, "department": department, "user": user} %}
                                
                                <div class="col-md-12 no-lr-pad calendar-form-wrapper">
                                    <div class="col-md-3 no-lr-pad list-unstyled">
                                    </div>
                                    <div class="col-md-9 no-r-pad">
                                    </div>
                                </div>
                                
                                <div id="pz-calendar-toggle-box">
                                    <button class="pz-calendar-toggle-btn" id="pz-calendar-toggle-btn"><span class="fa fa-chevron-up pz-toggle-up"></span> Kalender ein/ausblenden</button>
                                </div>
                                <div class="pz-calendar-all" id="pz-calendar-all">
                                    <div class="pz-grid-1-3-3-1">
                                        {% include '/admin/partials/year-chooser-block.twig' %}
                                        {{ renderRaw(calendarAll) }}
                                    </div>
                                </div>
                                
                                <div style="clear: both;"></div>
                                
                                <div class="pz-grid-2-cols pz-ticket-strips">
                                    <div class="pz-col-1-grid">
                                        {{ createDayViewBar('Tagesansicht') }}
                                        {% for tmGap in ["07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19"] %}
                                            {% include '/admin/partials/current-ticket-strip.html.twig' with {"tmGap": tmGap, 'tickets4TheDay': tickets4TheDay} %}
                                        {% endfor %}
                                    </div>
                                    <div class="pz-col-2-grid">
                                        {% set weekViewBarHeading = 'Wochenansicht' %}
                                        {% if tickets4TheWeek.Montag is defined and tickets4TheWeek.Montag %}
                                            {% set weekViewBarHeading = "#{weekViewBarHeading}: von #{tickets4TheWeek.Montag.from} bis #{tickets4TheWeek.Montag.till}" %}
                                        {% endif %}
                                        {{ createWeekViewBar(weekViewBarHeading) }}
                                        {% include '/admin/partials/current-week-ticket-strip.html.twig' with {'tickets4TheWeek': tickets4TheWeek} %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </section>
    </section>
{% endblock %}

{% block footer %}
    {% include '/admin/partials/footer.html.twig' %}
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    {# <script src="{{ asset('tinymce/js/tinymce/jquery.tinymce.min.js') }}" type="text/javascript"></script> #}
    
    <script type="text/javascript" src="{{ asset('js/jquery.poiz_tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/datepicker/datepicker.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/lib/datepicker/i18n/datepicker.de-DE.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/pz_melli.js') }}"></script>
    
    <script>
    </script>
{% endblock %}
