<a href=""
   class="pz-print-bill-button"
   data-endpoint="{{ path('rte_printer_print_bill', {'saleID': verkaufid}) }}"
   data-tip="Quittung für<br />Verkauf <strong>Nr. {{ verkaufid }}</strong><br /><strong style='color:darkgreen;'>drucken.</strong>"><span class="fa fa-print"></span></a>
{#
<a href=""
   data-tip="Verkauf <strong>Nr. {{ verkaufid }}</strong><br /><strong style='color:darkgreen;'>bearbeiten.</strong>"><span class="fa fa-pencil"></span></a>
#}
<a href=""
   data-tip="Verkauf <strong>Nr. {{ verkaufid }}</strong><br /><strong style='color:darkred;'>entfernen.</strong>"
   data-warn-b4-delete="1"
   data-delete-question="Möchtest Du den ganzen Verkauf - <strong>ID: {{ verkaufid }}</strong> inkl. aller Teilkäufe wirklich <strong style='color:red'>löschen?</strong>"><span class="fa fa-trash"></span></a>